.register
{
    height: 100vh;
    width: 100vw;
    background-color: #a4bff8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login_box
{
    height: 600px;
    width: 400px;
    background-color: #00020527;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login_form
{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}


/* Stili generali per tutti gli input */
/* .input-field {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
} */

/* Stili specifici per l'input di tipo date */
.input-field[type="date"] {
  background-color: #f9f9f9;
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-field[type="date"]::placeholder {
  color: #999;
}
/* Stili per l'input di tipo date quando è in focus */
/* .input-field[type="date"]:focus {
  border-color: #4CAF50;
  outline: none;
} */

/* Stili per il placeholder dell'input di tipo date */
/* .input-field[type="date"]::placeholder {
  color: #999;
} */