.input {
	border: none;
	border-bottom: 2px solid #007bff;
	background: none;
	padding: 10px;
	padding-left: 15px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.input:active,
.input:focus,
.input:hover,
.date_input:active,
.date_input:focus,
.date_input:hover {
	outline: none;
	border-bottom-color: #0056b3;
}

.date_input{
	border: none;
	border-bottom: 2px solid #007bff;
	background: none;
	padding: 10px;
	padding-left: 15px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
	color: #757575;
}