.button
{
	margin: 1px;
    border-radius: 24px;
    height: 40px;
	width: 100px;
	background-color: #007bff;
	border-style: none;
	box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
	padding: 2px 24px;
	width: auto;
}

.button:hover {
  background-color: #0056b3;
}

.button:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}