.message {
	display: flex;
	align-items: flex-start;
	margin: 10px 0;
}

.message.personal {
	justify-content: flex-end;
}

.propic {
	background-color: #5d5d5d;
	width: 30px;
	height: 30px;
	min-width: 30px;
	border-radius: 100%;
	margin-right: 10px;
}

p {
	margin: 0;
}